<div class="container-fluid py-3">
  <h1>Angular reCAPTCHA v2</h1>

  <div style="text-align: -webkit-center;
margin-top: 120px;">
    <div class="login">
  <form>
    <div class="row mb-3">
        <h1 class="display-5">Login</h1>
        <p style="color: #21252970;" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio laborum ea corrupti.</p>
    </div>
    <hr>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control loginInput" id="inputEmail3" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control loginInput" id="inputPassword3" minlength="8" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
  <form #form="ngForm">
    <div class="row mt-3">
      <div class="col-sm-12 mb-2">
        <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
        <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
          <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mb-2">
        <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
      </div>
    </div>
  </form>
</div>